*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope
}
body{
    height: 100%;
    width: 100%;
   
}
#nav-1{
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    height: 60px;
    border-bottom: 2px solid black;
}
#part1 {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    margin-left: 3rem;
   
}
#part1 h5{
    margin: 0 1rem;
    margin-top: 0.5rem;
}
#part1 img , #part2 img{
    height: 25px;
} 
#part2{
    display: flex;
    align-items: center;
   margin-right: 2rem;

}
#part2 h5{
    padding-right: 1rem;
}
#nav-2{
    font-size: 20px;
    height: 53px;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
}
#point1{
    margin-top: 0.8rem;
}
#point2{
    display: flex;
}
#point2 h5{
padding-right: 1rem;
margin-top: 0.8rem;
}
#nav-2 button{
    background-color: black;
    color: white;
    height: 40px;
    width: 180px;
    font-size: 18px;
    border-radius: 10px;
}
#main{
    margin-top: 1rem;
    margin-left: 1rem;
}

#main img{
    height: 180px;
    width: 180px;
    padding-left: 10px;
}
#pic{
    margin-left: 60%;
}
#main h1{
text-align: center;
font-size: 30px
}
#main button{
    background-color: black;
    justify-content: center;
    color: white;
    height: 40px;
    width: 180px;
    font-size: 18px;
    border-radius: 10px;
    position: absolute;
    right: 600px;
    bottom: 160px;
}


#circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:2px solid black;
    position: absolute;
    right: 660px;
    bottom: 80px;
}
#circle:hover{
    background-color:cornflowerblue;
}
.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    margin-left: 14px;
    margin-top: 10px;
    
}
.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}